.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.close {
  cursor: pointer;
}

.modal-content-success {
  background-color: rgb(0, 255, 0);
  margin: 15% auto;
  width: 50%;
  padding: 20px;
}

.modal-content-warning {
  background-color: rgb(255, 125, 0);
  margin: 15% auto;
  width: 50%;
  padding: 20px;
}

.modal-content-danger {
  background-color: rgb(192, 19, 19);
  margin: 15% auto;
  width: 50%;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row .col-1, .row .col {
  width: 10%;
  padding: 10%;
}
.row .col-2 {
  width: 20%;
  padding: 10%;
}
.row .col-3 {
  width: 30%;
  padding: 10%;
}
.row .col-4 {
  width: 40%;
  padding: 10%;
}
.row .col-5 {
  width: 50%;
  padding: 10%;
}
.row .col-6 {
  width: 60%;
  padding: 10%;
}
.row .col-7 {
  width: 70%;
  padding: 10%;
}
.row .col-8 {
  width: 80%;
  padding: 10%;
}
.row .col-9 {
  width: 90%;
  padding: 10%;
}
.row .col-10 {
  width: 100%;
  padding: 10%;
}
.row .col {
  flex-grow: 1;
}

/*# sourceMappingURL=styles.css.map */
