@mixin create-column($i, $grid-size, $with-padding: true) {
  width: calc(100% * ($i / $grid-size));

  @if ($with-padding) {
    padding: 10%;
  }
}

@mixin create-modal-content($type, $color) {
  .modal-content-#{$type} {
    background-color: $color;
    @content;
  }
}
