.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: $modal-bg-color;
  display: none;
}

.close {
  cursor: pointer;
}

@each $name, $color in $modal-types {
  @include create-modal-content($name, $color) {
    margin: 15% auto;
    width: 50%;
    padding: 20px;
  }
}
