$color-primary: blue;
$color-secondary: red;

$grid-size: 10;

$modal-bg-color: rgba(0, 0, 0, 0.4);
$modal-danger-color: rgb(192, 19, 19);
$modal-success-color: rgb(0, 255, 0);
$modal-warning-color: rgb(255, 125, 0);

$modal-types: (
  "success": $modal-success-color,
  "warning": $modal-warning-color,
  "danger": $modal-danger-color,
);

$font-types: Arial Helvetica;
