@use "sass:math";
@use "sass:list";
@use "sass:map";
// import {$modal-types} from 'variables'; => equivalent en js
@import "variables";
@import "mixins";
@import "modal";

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @for $i from 1 to $grid-size + 1 {
    & .col-#{$i} {
      @include create-column($i, $grid-size);
    }
  }

  & .col {
    @extend .col-1;
    flex-grow: 1;
  }
}
$font-types: list.append($font-types, Arial);
@debug $font-types;

@debug map.get($modal-types, "success");
